#blocjaune{
    background-color: rgb(119, 119, 7);
    height: 150px;
    width: 150px;   
}

#blocrouge{
    background-color:rgb(88, 5, 5);
    height: 150px;
    width: 150px;
}

#blocbleue{
    background-color: rgb(36, 10, 107);
    height: 150px;
    width: 150px;
}
    